# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Some of the popular languages that Data Scientists use are:**
1. python
2. SQL
3. R
4. Julia

**Some of the commonly used libraries used by Data Scientists include:**
1. NumPy
2. TensorFlow
3. PyTorch
4. SciPy

**Data Science Tools**
|Data Science Tools|
|-|
|Jupyter Notebook|
|RStudio|
|Apache Spark|

**Below are a few examples of evaluating arithmetic expressions in Python**

In [1]:
eval("2 ** 8")

256

In [2]:
eval("56 ** 12")

951166013805414055936

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

**Objectives:**
List popular languages for Data Science.
- Python 
- SQL
- R

## Author

name : Aryan Hasanzadeh